@use 'sass:color';

@mixin dark-theme {
	--clr-accent-1: hsl(40, 97%, 54%);
	--clr-txt-primary-on-bg-accent-1: hsl(210, 11%, 11%);
	--clr-error: hsl(0, 86%, 44%);
	--clr-ok: hsl(142, 72%, 29%);
	--clr-info: hsl(221, 83%, 53%);
	--clr-warning: hsl(41, 96%, 40%);
	--bg-warning: hsla(41, 96%, 40%, 0.36);
	--bg-overlay: #{color.adjust(#ffffff, $alpha: -0.9)};
	--clr-accent: #be1e2d;
	--clr-bg-accent: #be1e2d;
	--clr-txt-primary-on-bg-accent: #fafafa;
	// bg primary
	--clr-bg-primary: hsl(0, 0%, 9%);
	--clr-bg-primary-alpha: hsla(0, 0%, 7%, 60%);
	--clr-txt-primary-on-bg-primary: hsl(0, 0%, 100%);
	--clr-txt-secondary-on-bg-primary: hsl(0, 0%, 90%);
	--clr-txt-tertiary-on-bg-primary: hsl(0, 0%, 80%);
	--clr-txt-error-on-bg-primary: ;
	--clr-txt-success-on-bg-primary: ;
	--clr-txt-warning-on-bg-primary: ;
	--clr-txt-info-on-bg-primary: ;
	--clr-outline-primary-on-bg-primary: ;
	--clr-outline-secondary-on-bg-primary: hsl(0, 0%, 22%);
	--clr-outline-tertiary-on-bg-primary: ;
	// bg secondary
	--clr-bg-secondary: hsl(0, 0%, 14%);
	--clr-txt-primary-on-bg-secondary: ;
	--clr-txt-secondary-on-bg-secondary: ;
	--clr-txt-tertiary-on-bg-secondary: ;
	--clr-txt-error-on-bg-secondary: ;
	--clr-txt-success-on-bg-secondary: ;
	--clr-txt-warning-on-bg-secondary: ;
	--clr-txt-info-on-bg-secondary: ;
	--clr-divider-primary-on-bg-secondary: ;
	--clr-divider-secondary-on-bg-secondary: ;
	--clr-divider-tertiary-on-bg-secondary: ;
	// bg tertiary
	--clr-bg-tertiary: ;
	--clr-txt-primary-on-bg-tertiary: ;
	--clr-txt-secondary-on-bg-tertiary: ;
	--clr-txt-tertiary-on-bg-tertiary: ;
	--clr-txt-error-on-bg-tertiary: ;
	--clr-txt-success-on-bg-tertiary: ;
	--clr-txt-warning-on-bg-tertiary: ;
	--clr-txt-info-on-bg-tertiary: ;
	--clr-divider-primary-on-bg-tertiary: ;
	--clr-divider-secondary-on-bg-tertiary: ;
	--clr-divider-tertiary-on-bg-tertiary: ;
	// bg button
	--clr-btn-bg-primary: var(--clr-accent-1);
	--clr-txt-primary-on-btn-bg-primary: var(--clr-txt-primary-on-bg-accent-1);
	--clr-txt-secondary-on-btn-bg-primary: ;
	--clr-btn-bg-secondary: ;
	--clr-txt-primary-on-btn-bg-secondary: ;
	--clr-txt-secondary-on-btn-bg-secondary: ;
	// bg error
	--clr-bg-error: ;
	--clr-txt-primary-on-bg-error: ;
	--clr-txt-secondary-on-bg-error: ;
	--clr-txt-tertiary-on-bg-error: ;
	--clr-divider-primary-on-bg-error: ;
	--clr-divider-secondary-on-bg-error: ;
	--clr-divider-tertiary-on-bg-error: ;
	// bg success
	--clr-bg-success: ;
	--clr-txt-primary-on-bg-success: ;
	--clr-txt-secondary-on-bg-success: ;
	--clr-txt-tertiary-on-bg-success: ;
	--clr-divider-primary-on-bg-success: ;
	--clr-divider-secondary-on-bg-success: ;
	--clr-divider-tertiary-on-bg-success: ;
	// bg warning
	--clr-bg-warning: ;
	--clr-txt-primary-on-bg-warning: ;
	--clr-txt-secondary-on-bg-warning: ;
	--clr-txt-tertiary-on-bg-warning: ;
	--clr-divider-primary-on-bg-warning: ;
	--clr-divider-secondary-on-bg-warning: ;
	--clr-divider-tertiary-on-bg-warning: ;
	// bg info
	--clr-bg-info: ;
	--clr-txt-primary-on-bg-info: ;
	--clr-txt-secondary-on-bg-info: ;
	--clr-txt-tertiary-on-bg-info: ;
	--clr-divider-primary-on-bg-warning: ;
	--clr-divider-secondary-on-bg-warning: ;
	--clr-divider-tertiary-on-bg-warning: ;
	// shadow color
	--clr-shadow: ;
	--clr-accent-shadow: ;
}

@mixin light-theme {
	--clr-accent-1: #f0ae0f;
	--clr-error: hsl(0, 86%, 44%);
	--clr-ok: hsl(142, 72%, 29%);
	--clr-info: hsl(221, 83%, 53%);
	--clr-warning: hsl(41, 96%, 40%);
	--bg-warning: hsla(41, 96%, 40%, 0.36);
	--bg-overlay: #{color.adjust(#ffffff, $alpha: -0.9)};
	--clr-accent: #be1e2d;
	--clr-bg-accent: #be1e2d;
	--clr-txt-primary-on-bg-accent: #fafafa;
	// bg primary
	--clr-bg-primary: #fff;
	--clr-txt-primary-on-bg-primary: hsl(240, 8%, 9%);
	--clr-txt-secondary-on-bg-primary: ;
	--clr-txt-tertiary-on-bg-primary: ;
	--clr-txt-error-on-bg-primary: ;
	--clr-txt-success-on-bg-primary: ;
	--clr-txt-warning-on-bg-primary: ;
	--clr-txt-info-on-bg-primary: ;
	--clr-outline-primary-on-bg-primary: ;
	--clr-outline-secondary-on-bg-primary: hsl(0, 0%, 10%);
	--clr-outline-tertiary-on-bg-primary: ;
	// bg secondary
	--clr-bg-secondary: ;
	--clr-txt-primary-on-bg-secondary: ;
	--clr-txt-secondary-on-bg-secondary: ;
	--clr-txt-tertiary-on-bg-secondary: ;
	--clr-txt-error-on-bg-secondary: ;
	--clr-txt-success-on-bg-secondary: ;
	--clr-txt-warning-on-bg-secondary: ;
	--clr-txt-info-on-bg-secondary: ;
	--clr-divider-primary-on-bg-secondary: ;
	--clr-divider-secondary-on-bg-secondary: ;
	--clr-divider-tertiary-on-bg-secondary: ;
	// bg tertiary
	--clr-bg-tertiary: ;
	--clr-txt-primary-on-bg-tertiary: ;
	--clr-txt-secondary-on-bg-tertiary: ;
	--clr-txt-tertiary-on-bg-tertiary: ;
	--clr-txt-error-on-bg-tertiary: ;
	--clr-txt-success-on-bg-tertiary: ;
	--clr-txt-warning-on-bg-tertiary: ;
	--clr-txt-info-on-bg-tertiary: ;
	--clr-divider-primary-on-bg-tertiary: ;
	--clr-divider-secondary-on-bg-tertiary: ;
	--clr-divider-tertiary-on-bg-tertiary: ;
	// bg button
	--clr-btn-bg-primary: ;
	--clr-txt-primary-on-btn-bg-primary: ;
	--clr-txt-secondary-on-btn-bg-primary: ;
	--clr-btn-bg-secondary: ;
	--clr-txt-primary-on-btn-bg-secondary: ;
	--clr-txt-secondary-on-btn-bg-secondary: ;
	// bg error
	--clr-bg-error: ;
	--clr-txt-primary-on-bg-error: ;
	--clr-txt-secondary-on-bg-error: ;
	--clr-txt-tertiary-on-bg-error: ;
	--clr-divider-primary-on-bg-error: ;
	--clr-divider-secondary-on-bg-error: ;
	--clr-divider-tertiary-on-bg-error: ;
	// bg success
	--clr-bg-success: ;
	--clr-txt-primary-on-bg-success: ;
	--clr-txt-secondary-on-bg-success: ;
	--clr-txt-tertiary-on-bg-success: ;
	--clr-divider-primary-on-bg-success: ;
	--clr-divider-secondary-on-bg-success: ;
	--clr-divider-tertiary-on-bg-success: ;
	// bg warning
	--clr-bg-warning: ;
	--clr-txt-primary-on-bg-warning: ;
	--clr-txt-secondary-on-bg-warning: ;
	--clr-txt-tertiary-on-bg-warning: ;
	--clr-divider-primary-on-bg-warning: ;
	--clr-divider-secondary-on-bg-warning: ;
	--clr-divider-tertiary-on-bg-warning: ;
	// bg info
	--clr-bg-info: ;
	--clr-txt-primary-on-bg-info: ;
	--clr-txt-secondary-on-bg-info: ;
	--clr-txt-tertiary-on-bg-info: ;
	--clr-divider-primary-on-bg-warning: ;
	--clr-divider-secondary-on-bg-warning: ;
	--clr-divider-tertiary-on-bg-warning: ;
	// shadow color
	--clr-shadow: ;
	--clr-accent-shadow: ;
}

body[data-theme='system'] {
	@media (prefers-color-scheme: dark) {
		@include dark-theme();
	}

	@media (prefers-color-scheme: light) {
		@include light-theme();
	}
}

body[data-theme='dark'] {
	@include dark-theme();
}

body[data-theme='light'] {
	@include light-theme();
}

body {
	background-color: var(--clr-bg-primary);
	color: var(--clr-txt-secondary-on-bg-primary);
}
